// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


// CSS personalizzato generico RESET RULES

/* variabili di root */
:root {
    --color-red-text-sidebar: #DB2B39;
    --color-paragraph: #4d4c4c;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Nunito', sans-serif;
    // font-weight: bold;
}

main {
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
    background-color: #fff;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
}

p {
    color: var(--color-paragraph);
}

/* Classe di debug */
.debug {
    // border: 1px solid var(--prova1);
    border: 1px solid red;
}

/* Classe fluida per le immagini */
img {
    width: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/* Scheda tecnica dei singoli film: pagina "show" dei movies (cartella movies.show) */
.show-movies {
    color: var(--color-red-text-sidebar);
    font-weight: normal;
}

// Con questa selezione assegno una larghezza fissa tra le icone (<i></i>) di 45 pixel ad eccezione delle icone che hanno la classe "" ovvero le icone stelle del rating:
.film-details i:not(.no-space-rating) {
    width: 45px;
}

/* Fine scheda tecnica dei singoli film: pagina "show" dei movies (cartella movies.show) */

/* --------------------- Pulsanti modifica ed elimina : --------------------- */
button {
    color: black;
    border: 1px solid black;
    background-color: white;
    text-transform: uppercase;
    font-size: 16px !important;
    font-weight: 600;
    padding: 5px 15px;
}

// button:not(.btn-modifica) {
//     color: black;
//     border: 1px solid black;
//     background-color: white;
//     text-transform: uppercase;
//     font-size: 16px !important;
//     font-weight: 600;
//     padding: 5px 15px;
// }

/* Annullo il padding per i pulsanti che hanno al loro interno un tag <a> perchè poi lo imposto manualmente allo stesso tag */
button.btn-modifica {
    padding: 0 0;
}

button.btn-modifica:hover {
    padding: 0 0;
}

/* Fine annullo il padding per i pulsanti che hanno al loro interno un tag <a> perchè poi lo imposto manualmente allo stesso tag */

button#delete {
    color: var(--color-red-text-sidebar);
}

button#delete:hover {
    background-color: var(--color-red-text-sidebar);
    color: white;
    border-color: var(--color-red-text-sidebar);
}

button:hover {
    color: white;
    border: 1px solid black;
    background-color: black;
    text-transform: uppercase;
    font-size: 16px !important;
    font-weight: 600;
    padding: 5px 15px;
}

button a:link,
button a:visited,
button a:active {
    color: black;
    text-decoration: none;
    padding: 10px 15px; // imposto manualmente il padding ai pulsanti "button" che possiedono il tag <a>
}

button a:hover {
    color: white;
    padding: 10px 15px; // imposto manualmente il padding anche per l'hover ai pulsanti "button" che possiedono il tag <a>
}

a.custom-modify-btn {
    color: black;
    border: 1px solid black;
    text-transform: uppercase;
    font-size: 16px !important;
    font-weight: 600;
    padding: 6px 15px;
}

a.custom-modify-btn:hover {
    color: white;
    background-color: black;
}

// Pulsante submit delete del modal:
input[type="submit"],
button.modal-delete {
    color: var(--color-red-text-sidebar);
    border: 1px solid black;
    background-color: white;
    text-transform: uppercase;
    font-size: 16px !important;
    font-weight: 600;
    padding: 5px 15px;
}


input[type="submit"]:hover,
button:hover.modal-delete {
    color: white;
    border: 1px solid var(--color-red-text-sidebar);
    background-color: var(--color-red-text-sidebar);
    text-transform: uppercase;
    font-size: 16px !important;
    font-weight: 600;
    padding: 5px 15px;
}

div.modal-body p {
    color: black;
    font-weight: 600z;
}

/* --------------------- Fine pulsanti modifica ed elimina : --------------------- */


/* --------------------- Colore all'hover del pulsante visualizza nelle pagine index: --------------------- */
.card-title:hover {
    color: var(--color-red-text-sidebar);
}

/* --------------------- CSS PULSANTI FORM DI RICERCA --------------------- */
.filter-form:hover {
    border: 1px solid;
    border-color: var(--color-red-text-sidebar);
    box-shadow: 0 0 8px rgba(0, 95, 204, 0.3);
    outline: none; // bordo no
}

.filter-form:focus {
    border: 1px solid;
    border-color: var(--color-red-text-sidebar);
    box-shadow: 0 0 8px rgba(0, 95, 204, 0.3);
    outline: none; // bordo no
}

/* --------------------- FINE CSS PULSANTI FORM DI RICERCA --------------------- */


/* --------------------- LAYOUT PULSANTI DELLA PAGINAZIONE --------------------- */

// Nascondo il testo di showing di default che imposta in automatico Bootstrap 5:
p.small.text-muted {
    display: none;
}

// Gap per desktop tra i container della paginazione
.pagination {
    gap: 6px;
}

// Margine tra le icone numerate della paginazione:
.page-item {
    margin: 0 8;
    font-weight: 900; // grassetto del testo
}

// Personalizzazione CSS pulsanti paginazione:
.page-item .page-link {
    color: var(--color-red-text-sidebar);
    background-color: #f8f9fa;
    border: 1px solid #e6767f;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
}

// Personalizzazione CSS pulsanti paginazione all'hover con il mouse:
.page-item .page-link:hover {
    background-color: var(--color-red-text-sidebar);
    color: white;
    text-decoration: none;
}

// Personalizzazione CSS pulsanti paginazione attivi:
.page-item.active .page-link {
    background-color: var(--color-red-text-sidebar);
    /* Bootstrap primary */
    border-color: var(--color-red-text-sidebar);
    color: white;
}

// Personalizzazione CSS pulsanti paginazione disattivati (quando non ci sono ulteriori pagine da visualizzare:
.page-item.disabled .page-link {
    color: #6c757d;
    background-color: #dee2e6;
    border-color: #dee2e6;
    cursor: not-allowed;
    font-size: 18px;
}

// Media query per ridurre il gap, il padding e il margin del container e del testo delle paginazioni per i dispositivi tablet:
@media (max-width: 1200px) {
    .pagination {
        gap: 0;
    }

    // Margine tra le icone numerate della paginazione:
    .page-item {
        margin: 0 0;
        font-weight: 300; // grassetto del testo   
    }

    // Riduco i margini tra i quadratini e i numeri di paginazione in esso contenuti:
    a.page-link {
        padding: 6 8px;
    }
}

// Media query per ridurre il font-size del testo per i dispositivi mobili:
@media (max-width: 576px) {
    .page-item .page-link {
        font-size: 14.4;
    }

    .page-item.disabled .page-link {
        font-size: 14.4;
    }
}

/* --------------------- FINE LAYOUT PULSANTI DELLA PAGINAZIONE --------------------- */


/* --------------------- LAYOUT PULSANTI DELLA PAGINAZIONE --------------------- */

// CSS per il pulsante Home attivo:
a.nav-link.px-sm-0.px-2.active {
    background-color: transparent;
    color: white !important;
}

// Css per il pulsante Home in hover:
a.nav-link.px-sm-0.px-2:hover {
    background-color: transparent;
    color: white !important;
    font-weight: 500;
}

// CSS per gli altri elementi del menu quando "attivi":
a.nav-link.px-0.active {
    background-color: transparent;
    color: white !important;
    font-weight: 500;
}

// CSS per gli altri elementi del menu quando in "hover":
a.nav-link.px-0:hover {
    background-color: transparent;
    color: white !important;
    font-weight: 500;
}

// CSS che cambia il colore all'icona della freccia quando è selezionato quell'elemento del menu:
.dropdown-toggle.rotated::after {
    color: white;
}

// CSS personalizzato per le icone della sidebar in visualizzazione mobile:
i.fs-5.bi.bi-film.active::before {
    color: white;
}

i.fs-5.bi.bi-camera-reels.active::before {
    color: white;
}

i.fs-5.bi.bi-person-video2.active::before {
    color: white;
}

i.fs-5.bi.bi-tags.active::before {
    color: white;
}

/* --------------------- FINE LAYOUT PULSANTI DELLA PAGINAZIONE --------------------- */
