// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';


// CSS personalizzato generico RESET RULES

/* variabili di root */
:root {
    --color-red-text-sidebar: #DB2B39;
    --color-paragraph: #4d4c4c;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // font-family: 'Nunito', sans-serif;
    // font-weight: bold;
}

main {
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
    background-color: #fff;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
}

p {
    color: var(--color-paragraph);
}

/* Classe di debug */
.debug {
    // border: 1px solid var(--prova1);
    border: 1px solid red;
}

/* Classe fluida per le immagini */
img {
    width: 100%;
    max-width: 100%;
    display: block;
    object-fit: cover;
}

/* Scheda tecnica dei singoli film: pagina "show" dei movies (cartella movies.show) */
.show-movies {
    color: var(--color-red-text-sidebar);
    font-weight: normal;
}

// Con questa selezione assegno una larghezza fissa tra le icone (<i></i>) di 45 pixel ad eccezione delle icone che hanno la classe "" ovvero le icone stelle del rating:
.film-details i:not(.no-space-rating) {
    width: 45px;
}

/* Fine scheda tecnica dei singoli film: pagina "show" dei movies (cartella movies.show) */

/* --------------------- Pulsanti modifica ed elimina : --------------------- */
button {
    color: black;
    border: 1px solid black;
    background-color: white;
    text-transform: uppercase;
    font-size: 16px !important;
    font-weight: 600;
    padding: 5px 15px;
}

// button:not(.btn-modifica) {
//     color: black;
//     border: 1px solid black;
//     background-color: white;
//     text-transform: uppercase;
//     font-size: 16px !important;
//     font-weight: 600;
//     padding: 5px 15px;
// }

/* Annullo il padding per i pulsanti che hanno al loro interno un tag <a> perchè poi lo imposto manualmente allo stesso tag */
button.btn-modifica{
    padding: 0 0;
}
button.btn-modifica:hover {
    padding: 0 0;
}
/* Fine annullo il padding per i pulsanti che hanno al loro interno un tag <a> perchè poi lo imposto manualmente allo stesso tag */

button#delete {
    color: var(--color-red-text-sidebar);
}

button:hover {
    color: white;
    border: 1px solid black;
    background-color: black;
    text-transform: uppercase;
    font-size: 16px !important;
    font-weight: 600;
    padding: 5px 15px;
}

button a:link,
button a:visited,
button a:active {
    color: black;
    text-decoration: none;
    padding: 10px 15px;         // imposto manualmente il padding ai pulsanti "button" che possiedono il tag <a>
}

button a:hover {
    color: white;
    padding: 10px 15px;         // imposto manualmente il padding anche per l'hover ai pulsanti "button" che possiedono il tag <a>
}


// Pulsante submit delete del modal:
input[type="submit"], button.modal-delete{
        color: var(--color-red-text-sidebar);
        border: 1px solid black;
        background-color: white;
        text-transform: uppercase;
        font-size: 16px !important;
        font-weight: 600;
        padding: 5px 15px;
}


input[type="submit"]:hover, button:hover.modal-delete{
        color: white;
        border: 1px solid var(--color-red-text-sidebar);
        background-color: var(--color-red-text-sidebar);
        text-transform: uppercase;
        font-size: 16px !important;
        font-weight: 600;
        padding: 5px 15px;
}
div.modal-body p {
    color: black;
    font-weight: 600z;
}
/* --------------------- Fine pulsanti modifica ed elimina : --------------------- */