/* ---------- Sezione personalizzazione card dei film ---------- */

.card {
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 10px rgba(177, 174, 174, 0.8);
    overflow: hidden;
    background-color: var(--body-background);
    /* Nasconde qualsiasi parte dell'immagine che esce dai limiti della card */
}

.card-img-top {
    border-radius: 0px;
    width: 100%;
    height: 200px;
    /* Altezza fissa per uniformare le immagini */
    object-fit: cover;
    /* Garantisce che l'immagine copra tutta la zona senza distorsioni */
    object-position: top;
    /* L'immagine parte dall'alto se ha bisogno di essere ritagliata */
    cursor: pointer;
}

.card-img-top:hover {
    opacity: 0.5;
}

.card-body {
    background-color: var(--body-background);
    padding: 10 0;
}

.card-title {
    color: var(--cards-text);
    font-size: 14px;
    cursor: pointer;
    text-align: center;
}

h5.card-title {
    height: 75px;
}

h5.card-title:hover {
    height: 75px;
    font-weight: 670;
    // transform: scale(1.05);
    // transition: transform 0.3s ease;
    cursor: auto;
}

h4 a.card-title {
    font-size: 18px;
}

h4.card-title:hover {
    color: var(--color-red-text-sidebar);
}

.card-button {
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 50px;
    background-color: var(--button-item-color);
    border: none;
}

.card-button:hover {
    opacity: 0.5;
}

/* ---------- Fine sezione personalizzazione card dei film ---------- */


/* ---------------------------- Media query per ridurre l'altezza della sezione del titolo della card per i dispositivi sotto i 1400px ... px ------------------------ */
@media (max-width: 1400px) {
    h5.card-title {
        height: 80px;
    }

    h5.card-title:hover {
        height: 80px;
    }
}

@media (max-width: 992px) {
    h5.card-title {
        height: 78px;
    }

    h5.card-title:hover {
        height: 78px;
    }
}

@media (max-width: 768px) {
    h5.card-title {
        height: 70px;
    }

    h5.card-title:hover {
        height: 70px;
    }
}

@media (max-width: 576px) {
    h5.card-title {
        height: 45px;
    }

    h5.card-title:hover {
        height: 45px;
    }
}

/* ---------------------------- Media query per ridurre la grandezza del testo visualizzato nei dispositivi mobile ------------------------ */