header {
    background-color: #F8FAFC;
}

.a-link-header {
    line-height: normal;
    text-align: center;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.8;
}

.a-link-header:hover {
    opacity: 1;
    transition: all 0.5s;
    transform: scale(1.1);
}

a.a-link-header img {
    max-width: 50px;
}

// margine tra immagine e testo cliccabile
.header-text-menu{
    margin-top: 10px;
}

a:link .header-text-menu {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

a:visited .header-text-menu {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

a:hover .header-text-menu {
    color: var(--color-red-text-sidebar);
    font-weight: 700;
    text-decoration: none;
}

a:active .header-text-menu {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

p.header-text-menu {
    padding-top: 5px;
}


/* ---------------------------- Media query per ridurre la grandezza del testo visualizzato nei dispositivi mobile ------------------------ */
@media (max-width: 576px) {
    .a-link-header {
        font-size: 0.45rem;
    }
}

/* ---------------------------- Media query per ridurre la grandezza del testo visualizzato nei dispositivi mobile ------------------------ */