/* ---------------------------- Impostazioni della sidebar ---------------------------- */

// Colore del testo della sidebar nella visualizzazione desktop e tablet:
#menu-color a {
    color: red;
}

// Colore del testo della sidebar nella visualizzazione mobile:
#menu-color-mobile a i {
    color: red;
}

#menu-color-mobile a#dropdown {
    color: red;
}

span#menu-color {
    color: red;
}

.dropdown-toggle::after {
    color: red;
}

div {
    font-family: "Josefin Sans", sans-serif;
    font-size: 17px;
    line-height: 28px;
    font-weight: 300;
}

/* ---------------------------- Fine impostazioni della sidebar ---------------------------- */